.form-button {
  background-color: #5f9ea0;
  width: 160px;
  height: 38px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0px 1px 3px black;
  transition: all 0.3s ease;

  @media (max-width: 600px) {
    cursor: default;
  }

  @media (max-width: 430px) {
    width: 150px;
    height: 34px;
  }

  &:active {
    box-shadow: none;
    opacity: 0.5;
    transform: translateY(-5px);
  }

  &.blocked {
    transform: none;
    box-shadow: none;
    opacity: 0.5;
    cursor: default;
  }

  p {
    color: #fff;
    font-size: 14px;
  }

  .loading {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 3px dotted #fff;
    animation: 1s infinite linear loading-rotate;
  }
}

@keyframes loading-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
