.main-section {
  width: 100%;
  margin-top: 60px;

  @media (max-width: 900px) {
    margin-top: 54px;
  }

  @media (max-width: 660px) {
    margin-top: 48px;
  }

  @media (max-width: 500px) {
    margin-top: 42px;
  }

  .introduction-wrapper {
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;

    @media (max-width: 2000px) {
      height: 500px;
    }

    @media (max-width: 1100px) {
      height: 400px;
    }

    @media (max-width: 900px) {
      height: 350px;
    }

    @media (max-width: 800px) {
      height: 300px;
    }

    @media (max-width: 500px) {
      height: 280px;
    }

    @media (max-width: 460px) {
      height: 220px;
    }

    @media (max-width: 420px) {
      height: 200px;
    }
  }

  .introduction-center {
    width: 50%;
    height: 100%;
    background-color: #b0e9f6;
    clip-path: polygon(50% 0, 100% 0%, 50% 100%, 0% 100%);
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 1500px) {
      width: 60%;
    }

    @media (max-width: 1300px) {
      width: 70%;
    }

    @media (max-width: 930px) {
      width: 80%;
    }

    @media (max-width: 800px) {
      width: 100%;
    }

    @media (max-width: 660px) {
      height: 30%;
      bottom: 0;
      clip-path: none;
    }

    @media (max-width: 660px) {
      height: 36%;
    }

    .introduction-text {
      width: 400px;
      position: absolute;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: 1100px) {
        width: 340px;
      }

      @media (max-width: 500px) {
        width: 340px;
      }

      div {
        width: 80%;
      }

      h1,
      h3 {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        filter: drop-shadow(0.3px 0.3px 0.6px black);
      }

      h1 {
        font-size: 20px;
        animation: 1s 0.1s linear title-jump;

        @media (max-width: 1100px) {
          font-size: 18px;
        }

        @media (max-width: 800px) {
          font-size: 17px;
        }

        // @media (max-width: 500px) {
        //   font-size: 17px;
        // }
      }

      h3 {
        font-size: 16px;

        @media (max-width: 1100px) {
          font-size: 14px;
        }

        @media (max-width: 800px) {
          font-size: 14px;
        }

        // @media (max-width: 500px) {
        //   font-size: 12px;
        // }
      }

      .p-1 {
        animation: 1s 0.2s linear title-jump;
      }

      .p-2 {
        animation: 1s 0.3s linear title-jump;
      }
    }
  }

  .main-poster-left {
    display: flex;
    width: 50%;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);

    @media (max-width: 660px) {
      clip-path: none;
      height: 70%;
    }

    @media (max-width: 500px) {
      height: 64%;
    }

    img {
      width: 100%;
    }
  }

  .main-poster-right {
    display: flex;
    width: 50%;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);

    @media (max-width: 660px) {
      clip-path: none;
      height: 70%;
    }

    @media (max-width: 500px) {
      height: 64%;
    }

    img {
      width: 100%;
    }
  }

  .introduction-footer-wrapper {
    width: 100%;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    gap: 200px;

    @media (max-width: 1270px) {
      gap: 120px;
    }

    @media (max-width: 920px) {
      gap: 100px;
    }

    @media (max-width: 760px) {
      gap: 80px;
    }

    @media (max-width: 710px) {
      gap: 66px;
    }

    @media (max-width: 660px) {
      flex-direction: column;
      align-items: center;
      gap: 100px;
    }

    @media (max-width: 500px) {
      padding-top: 50px;
    }

    .introduction-footer-text {
      width: 600px;
      margin-top: 40px;
      opacity: 0.5;
      transform: translate(-30%, 30%);
      transition: all 0.9s ease;

      @media (max-width: 1270px) {
        margin-top: 30px;
      }

      @media (max-width: 1070px) {
        width: 500px;
      }

      @media (max-width: 920px) {
        width: 400px;
        margin-top: 0;
      }

      @media (max-width: 760px) {
        width: 360px;
      }

      @media (max-width: 660px) {
        width: 400px;
        padding: 30px;
        background-color: #b0e9f6;
        border-radius: 8px;
        // box-shadow: 0px 0px 0px 0.26px #000000;
        box-shadow: 0px 1px 3px black;
      }

      @media (max-width: 500px) {
        width: 300px;
        // box-shadow: 0px 0px 0px 0.1px #000000;
        box-shadow: 0px 1px 2px black;
      }

      @media (max-width: 390px) {
        padding: 20px;
      }

      &.move {
        opacity: 1;
        transform: translate(0, 0);
      }

      p {
        font-family: "Montserrat", sans-serif;

        @media (max-width: 1270px) {
          font-size: 15px;
        }

        @media (max-width: 1070px) {
          font-size: 14px;
        }

        // @media (max-width: 760px) {
        //   font-size: 13px;
        // }

        // @media (max-width: 500px) {
        //   font-size: 12px;
        //   font-weight: 500;
        // }

        // @media (max-width: 500px) {
        //   font-size: 11px;
        // }
      }
    }

    .cube-slider-section {
      width: 400px;
      height: 400px;
      position: relative;

      @media (max-width: 1270px) {
        width: 200px;
      }

      @media (max-width: 1070px) {
        width: 160px;
        height: 300px;
      }

      @media (max-width: 920px) {
        width: 150px;
      }

      @media (max-width: 760px) {
        width: 140px;
      }

      @media (max-width: 660px) {
        width: 180px;
        height: 300px;
      }

      @media (max-width: 500px) {
        width: 160px;
        height: 280px;
      }

      @media (max-width: 390px) {
        width: 150px;
        height: 260px;
      }
    }
  }
}

@keyframes title-jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-6px);
  }

  0% {
    transform: translateY(0);
  }
}
