.footer-section {
  width: 100%;
  padding: 30px 0 10px;
  margin-top: 80px;
  background-color: var(--main-color);
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @media (max-width: 900px) {
    margin-top: 60px;
  }

  @media (max-width: 760px) {
    padding: 20px 0 10px;
  }

  @media (max-width: 500px) {
    gap: 14px;
  }

  .footer-contacts {
    width: 280px;

    p {
      font-size: 16px;

      @media (max-width: 1270px) {
        font-size: 15px;
      }

      @media (max-width: 1070px) {
        font-size: 14px;
      }
    }

    ul {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .icon-wrapper {
        width: 16px;
        height: 16px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .contact {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }

  .fond-m-wrapper {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 0 auto;

    @media (max-width: 800px) {
      gap: 24px;
    }

    @media (max-width: 500px) {
      gap: 14px;
    }

    p {
      font-size: 16px;

      @media (max-width: 1270px) {
        font-size: 15px;
      }

      @media (max-width: 1070px) {
        font-size: 14px;
      }
    }

    .fond-m-image {
      width: 32px;
      height: 32px;

      @media (max-width: 1270px) {
        width: 30px;
        height: 30px;
      }

      @media (max-width: 1070px) {
        width: 28px;
        height: 28px;
      }

      @media (max-width: 760px) {
        width: 26px;
        height: 26px;
      }

      @media (max-width: 500px) {
        width: 21px;
        height: 21px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .fond-m-text {
      width: 480px;

      @media (max-width: 1270px) {
        width: 460px;
      }

      @media (max-width: 1070px) {
        width: 420px;
      }

      @media (max-width: 760px) {
        width: 400px;
      }

      @media (max-width: 500px) {
        width: 360px;
      }

      @media (max-width: 420px) {
        width: 300px;
      }
    }
  }
}
