.register-account {
  width: 98%;
  height: 98%;
  background-color: #b0e9f6;
  border-radius: 16px;
  position: absolute;
  box-shadow: 0px 1px 2px black;
  transform: translateX(-110%);
  transition: transform 0.3s ease;

  &.right {
    transform: translateX(0%);
  }

  &.left {
    transform: translateX(110%);
  }

  &-title {
    width: 100%;
    text-align: center;
    margin-top: 20px;

    h3 {
      font-size: 18px;

      @media (max-width: 1270px) {
        font-size: 17px;
      }

      @media (max-width: 1070px) {
        font-size: 16px;
      }
    }
  }

  .register-form {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .register-buttons {
    width: 92%;
    margin: 40px auto 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}
