.future-section {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 80px;

  .future-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;

    @media (max-width: 1270px) {
      gap: 50px;
    }

    @media (max-width: 800px) {
      gap: 20px;
    }

    @media (max-width: 760px) {
      flex-direction: column;
      gap: 60px;
    }

    @media (max-width: 500px) {
      gap: 40px;
    }

    .future-text {
      width: 800px;
      opacity: 0.5;
      transform: translate(-30%, 30%);
      transition: all 0.9s ease;

      @media (max-width: 1350px) {
        width: 700px;
      }

      @media (max-width: 1270px) {
        width: 600px;
      }

      @media (max-width: 1070px) {
        width: 500px;
      }

      @media (max-width: 900px) {
        width: 400px;
      }

      @media (max-width: 760px) {
        padding: 30px;
        background-color: #b0e9f6;
        border-radius: 8px;
        // box-shadow: 0px 0px 0px 0.26px #000000;
        box-shadow: 0px 1px 3px black;
      }

      @media (max-width: 500px) {
        width: 300px;
        // box-shadow: 0px 0px 0px 0.1px #000000;
        box-shadow: 0px 1px 2px black;
      }

      @media (max-width: 390px) {
        padding: 20px;
      }

      &.move {
        opacity: 1;
        transform: translate(0, 0);
      }

      p {
        font-size: 16px;

        @media (max-width: 1270px) {
          font-size: 15px;
        }

        @media (max-width: 1070px) {
          font-size: 14px;
        }

        // @media (max-width: 760px) {
        //   font-size: 13px;
        // }

        // @media (max-width: 500px) {
        //   font-size: 12px;
        //   font-weight: 500;
        // }

        // @media (max-width: 500px) {
        //   font-size: 11px;
        // }
      }
    }

    .future-image {
      width: 390px;
      height: 380px;

      @media (max-width: 1070px) {
        width: 320px;
        height: 310px;
      }

      @media (max-width: 760px) {
        width: 340px;
        height: 330px;
      }

      @media (max-width: 500px) {
        width: 300px;
        height: 290px;
      }

      @media (max-width: 390px) {
        width: 280px;
        height: 270px;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
